.htaccess
Mage.php
bootstrap.php

code/*
!code/local
code/local/*
!code/local/Citrus

design/*
!design/frontend
design/frontend/*
!design/frontend/base
design/frontend/base/default/*

!design/frontend/base/default/layout
design/frontend/base/default/layout/*
!design/frontend/base/default/layout/citrus.xml

!design/frontend/base/default/template
design/frontend/base/default/template/*
!design/frontend/base/default/template/citrus

!design/adminhtml
design/adminhtml/*
!design/adminhtml/default
design/adminhtml/default/default/*
!design/adminhtml/default/default/layout
design/adminhtml/default/default/layout/*
!design/adminhtml/default/default/layout/citrus
!design/adminhtml/default/default/template
design/adminhtml/default/default/template/*
!design/adminhtml/default/default/template/citrus


etc/*
!etc/modules
etc/modules/*
!etc/modules/Citrus_Integration.xml

locale/*