<?xml version="1.0"?>

<config>
    <modules>
        <Citrus_Integration>
            <version>1.0.6</version>
        </Citrus_Integration>
    </modules>
    <crontab> 
        <jobs>   
            <citrus_cron_task>       
                <schedule>         
                    <cron_expr>* * * * *</cron_expr>       
                </schedule>     
                <run>         
                    <model>citrusintegration/observer::cronQueue</model>       
                </run>
            </citrus_cron_task>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Citrus_Integration before="Mage_Adminhtml">Citrus_Integration_Adminhtml</Citrus_Integration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!---->
    <frontend>
        <events>
            <catalogsearch_query_save_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>sendContextAfterSearch</method>
                    </citrusintegration>
                </observers>
            </catalogsearch_query_save_after>
            <catalog_controller_category_init_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>sendContextAfterCategory</method>
                    </citrusintegration>
                </observers>
            </catalog_controller_category_init_after>
            <cms_page_load_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>sendContextAfterCms</method>
                    </citrusintegration>
                </observers>
            </cms_page_load_after>
        </events>
    </frontend>
    <!---->
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Citrus_Integration_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <citrusintegration>
                <class>Citrus_Integration_Model</class>
                <resourceModel>citrusintegration_mysql4</resourceModel>
            </citrusintegration>
            <citrusintegration_mysql4>
                <class>Citrus_Integration_Model_Mysql4</class>
                <entities>
                    <catalog>
                        <table>citrus_integration_catalog</table>
                    </catalog>
                </entities>
                <entities>
                    <queue>
                        <table>citrus_integration_queue</table>
                    </queue>
                </entities>
                <entities>
                    <log>
                        <table>citrus_integration_log</table>
                    </log>
                </entities>
                <entities>
                    <customer>
                        <table>citrus_integration_customer</table>
                    </customer>
                </entities>
                <entities>
                    <order>
                        <table>citrus_integration_order</table>
                    </order>
                </entities>
                <entities>
                    <discount>
                        <table>citrus_integration_discount</table>
                    </discount>
                </entities>
                <entities>
                    <banner>
                        <table>citrus_integration_banner</table>
                    </banner>
                </entities>
                <entities>
                    <ad>
                        <table>citrus_integration_ad</table>
                    </ad>
                </entities>
                <entities>
                    <relevant>
                        <table>citrus_integration_relevant_product</table>
                    </relevant>
                </entities>
                <entities>
                    <slotid>
                        <table>citrus_integration_slotid</table>
                    </slotid>
                </entities>
            </citrusintegration_mysql4>
        </models>
        <!--resource-->
        <resources>
            <citrusintegration_setup>
                <setup>
                    <module>Citrus_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citrusintegration_setup>
            <citrusintegration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citrusintegration_write>
            <citrusintegration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citrusintegration_read>
        </resources>
        <helpers>
            <citrusintegration>
                <class>Citrus_Integration_Helper</class>
            </citrusintegration>
            <catalog>
                <rewrite>
                    <product_view>Citrus_Integration_Helper_Product_View</product_view> <!--this tag <address> is the class after Helper folder -->
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <citrusintegration>
                <class>Citrus_Integration_Block</class>
            </citrusintegration>
        </blocks>
        <events>
            <admin_system_config_changed_section_citrus>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>createCatalog</method>
                    </citrusintegration>
                </observers>
            </admin_system_config_changed_section_citrus>
            <catalog_product_save_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>pushProductToQueue</method>
                    </citrusintegration>
                </observers>
            </catalog_product_save_after>
            <sales_order_place_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>pushOrderToQueue</method>
                    </citrusintegration>
                </observers>
            </sales_order_place_after>
            <catalog_product_get_final_price>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>addDiscountToProduct</method>
                    </citrusintegration>
                </observers>
            </catalog_product_get_final_price>
            <citrus_integration_ad_save_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>applyAfterSave</method>
                    </citrusintegration>
                </observers>
            </citrus_integration_ad_save_after>
            <catalog_product_collection_load_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>applyDiscountListProduct</method>
                    </citrusintegration>
                </observers>
            </catalog_product_collection_load_after>
            <customer_save_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>pushCustomerToQueue</method>
                    </citrusintegration>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>customerDeleteEventAction</method>
                    </citrusintegration>
                </observers>
            </customer_delete_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <catalog_product_delete_after>
                <observers>
                    <tag>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>productDeleteEventAction</method>
                    </tag>
                </observers>
            </catalog_product_delete_after>
        </events>
        <layout>
            <updates>
                <citrusintegration>
                    <file>citrus/integration/queue.xml</file>
                </citrusintegration>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <citrus>
                                            <title>Citrus General</title>
                                        </citrus>
                                        <citrus_sync>
                                            <title>Citrus Synchronization</title>
                                        </citrus_sync>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <citrusintegration>
                    <file>citrus.xml</file>
                </citrusintegration>
            </updates>
        </layout>
    </frontend>
    <default>
        <citrus_sync>
            <citrus_ads>
                <time_out>0.5</time_out>
            </citrus_ads>
        </citrus_sync>
        <citrus_sync>
            <citrus_order>
                <time_out>2.5</time_out>
            </citrus_order>
        </citrus_sync>
        <citrus_sync>
            <citrus_product>
                <time_out>2.5</time_out>
            </citrus_product>
        </citrus_sync>
    </default>
</config>
