<?xml version="1.0"?>

<config>
    <modules>
        <Citrus_Integration>
            <version>1.0.0</version>
        </Citrus_Integration>
    </modules>
    <global>
        <models>
            <citrusintegration>
                <class>Citrus_Integration_Model</class>
                <resourceModel>citrusintegration_mysql4</resourceModel>
            </citrusintegration>
            <citrusintegration_mysql4>
                <class>Citrus_Integration_Model_Mysql4</class>
                <entities>
                    <catalog>
                        <table>citrus_integration_catalog</table>
                    </catalog>
                </entities>
            </citrusintegration_mysql4>
        </models>
        <!--resource-->
        <resources>
            <citrusintegration_setup>
                <setup>
                    <module>Citrus_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citrusintegration_setup>
            <citrusintegration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citrusintegration_write>
            <citrusintegration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citrusintegration_read>
        </resources>
        <helpers>
            <citrusintegration>
                <class>Citrus_Integration_Helper</class>
            </citrusintegration>
        </helpers>
        <events>
            <admin_system_config_changed_section_citrus>
                <observers>
                    <alphapayments>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>createCatalog</method>
                    </alphapayments>
                </observers>
                <!--<observers>-->
                    <!--<citrusintegration>-->
                        <!--<type>singleton</type>-->
                        <!--<class>yourmodule/observer</class>-->
                        <!--<method>adminSystemConfigChangedSectionNameofyoursection</method>-->
                    <!--</citrusintegration>-->
                <!--</observers>-->
            </admin_system_config_changed_section_citrus>
        </events>
    </global>
    <!--<global>-->
        <!--<events>-->
            <!--<admin_system_config_changed_section_nameofyoursection>-->
                <!--<observers>-->
                    <!--<yourmodule>-->
                        <!--<type>singleton</type>-->
                        <!--<class>yourmodule/observer</class>-->
                        <!--<method>adminSystemConfigChangedSectionNameofyoursection</method>-->
                    <!--</yourmodule>-->
                <!--</observers>-->
            <!--</admin_system_config_changed_section_nameofyoursection>-->
        <!--</events>-->
    <!--</global>-->

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <citrus>
                                            <title>Store Hello World Module Section</title>
                                        </citrus>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>