<?xml version="1.0"?>

<config>
    <modules>
        <Citrus_Integration>
            <version>1.0.0</version>
        </Citrus_Integration>
    </modules>
    <crontab> 
        <jobs>   
            <citrus_cron_task>       
                <schedule>         
                    <cron_expr>*/5 * * * *</cron_expr>       
                </schedule>     
                <run>         
                    <model>citrusintegration/cron::crontask</model>       
                </run>
            </citrus_cron_task>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Citrus_Integration before="Mage_Adminhtml">Citrus_Integration_Adminhtml</Citrus_Integration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <citrusintegration>
                <class>Citrus_Integration_Model</class>
                <resourceModel>citrusintegration_mysql4</resourceModel>
            </citrusintegration>
            <citrusintegration_mysql4>
                <class>Citrus_Integration_Model_Mysql4</class>
                <entities>
                    <catalog>
                        <table>citrus_integration_catalog</table>
                    </catalog>
                </entities>
                <entities>
                    <queue>
                        <table>citrus_integration_queue</table>
                    </queue>
                </entities>
                <entities>
                    <log>
                        <table>citrus_integration_log</table>
                    </log>
                </entities>
            </citrusintegration_mysql4>
        </models>
        <!--resource-->
        <resources>
            <citrusintegration_setup>
                <setup>
                    <module>Citrus_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citrusintegration_setup>
            <citrusintegration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citrusintegration_write>
            <citrusintegration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citrusintegration_read>
        </resources>
        <helpers>
            <citrusintegration>
                <class>Citrus_Integration_Helper</class>
            </citrusintegration>
        </helpers>
        <blocks>
            <citrusintegration>
                <class>Citrus_Integration_Block</class>
            </citrusintegration>
        </blocks>
        <events>
            <admin_system_config_changed_section_citrus>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>createCatalog</method>
                    </citrusintegration>
                </observers>
            </admin_system_config_changed_section_citrus>
            <catalog_product_save_after>
                <observers>
                    <citrusintegration>
                        <type>singleton</type>
                        <class>Citrus_Integration_Model_Observer</class>
                        <method>pushProductToQueue</method>
                    </citrusintegration>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <citrusintegration>
                    <file>citrus/integration/queue.xml</file>
                </citrusintegration>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <citrus>
                                            <title>Citrus General</title>
                                        </citrus>
                                        <citrus_sync>
                                            <title>Citrus Synchronization</title>
                                        </citrus_sync>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>